
Command.cpp
CommandBody.cpp
CommandPrimitive.cpp
DlgReference.ui
FeaturePickDialog.cpp
PreCompiled.cpp
PreCompiled.h
ReferenceSelection.cpp
ReferenceSelection.h
Resources/icons/PartDesign_Additive_Box.svg
*.svg
Resources/PartDesign.qrc
*.qm
*.ts
TaskBooleanParameters.cpp
TaskBooleanParameters.h
TaskBooleanParameters.ui
TaskChamferParameters.cpp
TaskChamferParameters.h
TaskChamferParameters.ui
TaskDatumParameters.cpp
TaskDatumParameters.cpp
TaskDatumParameters.h
TaskDatumShapeBinder.h
TaskDraftParameters.cpp
TaskDraftParameters.h
TaskDraftParameters.ui
TaskDressUpParameters.cpp
TaskDressUpParameters.h
TaskFeatureParameters.cpp
TaskFeatureParameters.h
TaskFeaturePick.cpp
TaskFeaturePick.h
TaskFeaturePick.ui
TaskFilletParameters.cpp
TaskFilletParameters.h
TaskFilletParameters.ui
TaskHoleParameters.cpp
TaskHoleParameters.h
TaskHoleParameters.ui
TaskLinearPatternParameters.cpp
TaskLinearPatternParameters.ui
TaskLinearPatternParameters.h
TaskLoftParameters.cpp
TaskLoftParameters.h
TaskLoftParameters.ui
TaskMirroredParameters.cpp
TaskMirroredParameters.h
TaskMirroredParameters.ui
TaskMultiTransformParameters.cpp
TaskMultiTransformParameters.h
TaskMultiTransformParameters.ui
TaskPadParameters.cpp
TaskPadParameters.ui
TaskPipeParameters.ui
TaskPadParameters.h
TaskPipeOrientation.ui
TaskPipeParameters.cpp
TaskPipeParameters.h
TaskPipeScaling.ui
TaskPocketParameters.cpp
TaskPocketParameters.h
TaskPocketParameters.ui
TaskPolarPatternParameters.cpp
TaskPolarPatternParameters.h
TaskPolarPatternParameters.ui
TaskPrimitiveParameters.cpp
TaskPrimitiveParameters.h
TaskPrimitiveParameters.ui
TaskRevolutionParameters.cpp
TaskRevolutionParameters.h
TaskRevolutionParameters.ui
TaskScaledParameters.cpp
TaskScaledParameters.h
TaskScaledParameters.ui
TaskShapeBinder.cpp
TaskShapeBinder.h
TaskShapeBinder.ui
TaskSketchBasedParameters.cpp
TaskSketchBasedParameters.h
TaskThicknessParameters.cpp
TaskThicknessParameters.h
TaskThicknessParameters.ui
TaskTransformedMessages.cpp
TaskTransformedMessages.h
TaskTransformedMessages.ui
TaskTransformedParameters.cpp
TaskTransformedParameters.h
TaskTransformedParameters.h
TaskTransformedParameters.h
ViewProvider.cpp
Utils.cpp
Utils.h
ViewProvider.h
ViewProviderAddSub.cpp
ViewProviderAddSub.h
ViewProviderBody.cpp
ViewProviderBody.h
ViewProviderBoolean.cpp
ViewProviderBoolean.h
ViewProviderChamfer.cpp
ViewProviderChamfer.h
ViewProviderDatum.cpp
ViewProviderDatum.h
ViewProviderDatumCS.cpp
ViewProviderDatumCS.h
ViewProviderDatumLine.cpp
ViewProviderDatumPlane.cpp
ViewProviderDatumLine.h
ViewProviderDatumPlane.h
ViewProviderDatumPoint.cpp
ViewProviderDatumPoint.h
ViewProviderDatumPoint.h
ViewProviderDatumShapeBinder.h
ViewProviderDressUp.cpp
ViewProviderFillet.h
ViewProviderDraft.cpp
ViewProviderDraft.h
ViewProviderDressUp.h
ViewProviderFillet.cpp
ViewProviderGroove.cpp
ViewProviderGroove.h
ViewProviderHole.cpp
ViewProviderHole.h
ViewProviderLinearPattern.cpp
ViewProviderLinearPattern.h
ViewProviderLoft.cpp
ViewProviderLoft.h
ViewProviderMainPart.cpp
ViewProviderMainPart.h
ViewProviderMirrored.cpp
ViewProviderMirrored.h
ViewProviderMultiTransform.cpp
ViewProviderMultiTransform.h
ViewProviderPad.cpp
ViewProviderPad.h
ViewProviderPipe.cpp
ViewProviderPipe.h
ViewProviderPocket.cpp
ViewProviderPocket.h
ViewProviderPolarPattern.cpp
ViewProviderPolarPattern.h
ViewProviderPrimitive.cpp
ViewProviderPrimitive.h
ViewProviderPy.xml
ViewProviderPyImp.cpp
ViewProviderRevolution.cpp
ViewProviderRevolution.h
ViewProviderScaled.cpp
ViewProviderScaled.h
ViewProviderShapeBinder.cpp
ViewProviderShapeBinder.h
ViewProviderSketchBased.cpp
ViewProviderSketchBased.h
ViewProviderThickness.cpp
ViewProviderThickness.h
ViewProviderTransformed.cpp
ViewProviderTransformed.h
Workbench.cpp
Workbench.h
WorkflowManager.cpp
WorkflowManager.h
